In [10]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/ce/85/62825cabc6aad53104b7b6d12eb2ad74737d268630032d07b74d4444cb72/psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 13.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [11]:
from sqlalchemy import create_engine
sql_engine = create_engine('postgresql://postgres:postgres@10.211.116.164:5432/mimic')

In [19]:
# Get length of stay from the icustays table
query = \
"""
SELECT *
FROM mimiciii.admissions ;
"""

mimic_admissions = pd.read_sql_query(query,con=sql_engine)

In [28]:
# list(mimic_admissions)

In [25]:
mimic_admissions['admittime'] = pd.to_datetime(mimic_admissions['admittime'])
mimic_admissions['dischtime'] = pd.to_datetime(mimic_admissions['dischtime'])

mimic_admissions['LOS_days'] = round(
    (mimic_admissions['dischtime'] - mimic_admissions['admittime']).dt.total_seconds() / (24 * 60 * 60), 1)

mimic_admissions = mimic_admissions[["row_id", "subject_id", "hadm_id", "LOS_days", "hospital_expire_flag"]]

In [26]:
# Creation of Label
'''
    <= 3: 0
    > 3 & <= 7: 1
    > 7 & <= 14: 2
    >14: 3
'''
mimic_admissions.loc[mimic_admissions['LOS_days'] <= 3, 'LOS_label'] = 0
mimic_admissions.loc[(mimic_admissions['LOS_days'] > 3) & (
        mimic_admissions['LOS_days'] <= 7), 'LOS_label'] = 1
mimic_admissions.loc[(mimic_admissions['LOS_days'] > 7) & (
        mimic_admissions['LOS_days'] <= 14), 'LOS_label'] = 2
mimic_admissions.loc[(mimic_admissions['LOS_days'] > 14), 'LOS_label'] = 3
mimic_admissions.LOS_label = mimic_admissions.LOS_label.astype(int)

/tmp/ipykernel_97997/3277178709.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mimic_admissions.loc[mimic_admissions['LOS_days'] <= 3, 'LOS_label'] = 0
/tmp/ipykernel_97997/3277178709.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mimic_admissions.LOS_label = mimic_admissions.LOS_label.astype(int)

In [27]:
mimic_admissions

       row_id  subject_id  hadm_id  LOS_days  hospital_expire_flag  LOS_label
0          21          22   165315       1.1                     0          0
1          22          23   152223       5.5                     0          1
2          23          23   124321       6.8                     0          1
3          24          24   161859       2.9                     0          0
4          25          25   129635       3.5                     0          1
...       ...         ...      ...       ...                   ...        ...
58971   58594       98800   191113       2.7                     0          0
58972   58595       98802   101071       0.5                     1          0
58973   58596       98805   122631       8.2                     0          2
58974   58597       98813   170407      41.4                     0          3
58975   58598       98813   190264       1.6                     0          0

[58976 rows x 6 columns]

In [36]:
# Get length of stay from the icustays table
query = \
"""
SELECT *
FROM mimiciii.noteevents where category = 'Discharge summary';
"""

notes_df = pd.read_sql_query(query,con=sql_engine)

In [37]:
notes_df.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,174,22532,167853,2151-08-04,None,None,Discharge summary,Report,None,None,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527,2118-06-14,None,None,Discharge summary,Report,None,None,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118,2119-05-25,None,None,Discharge summary,Report,None,None,Admission Date: [**2119-5-4**] D...
3,177,13702,196489,2124-08-18,None,None,Discharge summary,Report,None,None,Admission Date: [**2124-7-21**] ...
4,178,26880,135453,2162-03-25,None,None,Discharge summary,Report,None,None,Admission Date: [**2162-3-3**] D...

In [38]:
admission_sections = {
        "CHIEF_COMPLAINT": "chief complaint:",
        "PRESENT_ILLNESS": "present illness:",
        "MEDICAL_HISTORY": "medical history:",
        "MEDICATION_ADM": "medications on admission:",
        "ALLERGIES": "allergies:",
        "PHYSICAL_EXAM": "physical exam:",
        "FAMILY_HISTORY": "family history:",
        "SOCIAL_HISTORY": "social history:"
    }

# replace linebreak indicators
notes_df['text'] = notes_df['text'].str.replace(r"\n", r"\\n").str.lower()

In [39]:
notes_df.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,174,22532,167853,2151-08-04,None,None,Discharge summary,Report,None,None,admission date: [**2151-7-16**] dischar...
1,175,13702,107527,2118-06-14,None,None,Discharge summary,Report,None,None,admission date: [**2118-6-2**] discharg...
2,176,13702,167118,2119-05-25,None,None,Discharge summary,Report,None,None,admission date: [**2119-5-4**] d...
3,177,13702,196489,2124-08-18,None,None,Discharge summary,Report,None,None,admission date: [**2124-7-21**] ...
4,178,26880,135453,2162-03-25,None,None,Discharge summary,Report,None,None,admission date: [**2162-3-3**] d...

In [186]:
# extract each section by regex
# for key in admission_sections.keys():
key = 'CHIEF_COMPLAINT'
section = admission_sections[key]
notes_df[key] = notes_df.text.str.extract(r'(?i){}(.+?)\\n\\n[^(\\|\d|\.)]+?:'
                                          .format(section), re.DOTALL)[0]

notes_df[key] = notes_df[key].str.replace(r'\\n', r' ')
notes_df[key] = notes_df[key].str.strip()
notes_df[key] = notes_df[key].fillna("")
notes_df[notes_df[key].str.startswith("[]")][key] = ""
print('5', notes_df.shape)

5 (59652, 12)

In [187]:
notes_df

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text,CHIEF_COMPLAINT
0,174,22532,167853,2151-08-04,None,None,Discharge summary,Report,None,None,admission date: [**2151-7-16**] dischar...,
1,175,13702,107527,2118-06-14,None,None,Discharge summary,Report,None,None,admission date: [**2118-6-2**] discharg...,
2,176,13702,167118,2119-05-25,None,None,Discharge summary,Report,None,None,admission date: [**2119-5-4**] d...,
3,177,13702,196489,2124-08-18,None,None,Discharge summary,Report,None,None,admission date: [**2124-7-21**] ...,
4,178,26880,135453,2162-03-25,None,None,Discharge summary,Report,None,None,admission date: [**2162-3-3**] d...,
...,...,...,...,...,...,...,...,...,...,...,...,...
59647,59608,93924,135672,2104-06-14,None,None,Discharge summary,Addendum,None,None,"name: [**known lastname 18321**],[**known fir...",
59648,59609,17782,155710,2112-03-31,None,None,Discharge summary,Addendum,None,None,"name: [**known lastname 2706**], [**known fir...",
59649,59621,96333,183951,2197-06-18,None,None,Discharge summary,Addendum,None,None,name: [**known lastname 18357**]-[**known las...,
59650,59622,66717,169165,2129-08-14,None,None,Discharge summary,Addendum,None,None,"name: [**known lastname **],[**known firstnam...",
59651,59623,73790,157100,2113-07-18,None,None,Discharge summary,Addendum,None,None,"name: [**known lastname 12459**],[**known fir...",

In [121]:
s = notes_df[notes_df.text.str.contains('chief complaint:')==True]['text'].tolist()[0]
# .str.extract(r'(?i)chief complaint:(.+?)\\n\\n[^(\\|\d|\.)]+?:')

In [130]:
# s

In [191]:
import re

text = """service: cardiothoracic

allergies:
amlodipine

attending:[**last name (namepattern1) 1561**]
chief complaint:
81 yo f smoker w/ copd, severe tbm, s/p tracheobronchoplasty [**5-5**]
s/p perc trach [**5-13**]

major surgical or invasive procedure:
bronchoscopy 3/31,4/2,3,[**6-12**], [**5-17**], [**5-19**]
s/p trachealplasty [**5-5**]
percutaneous tracheostomy [**5-13**] after failed extubation
down size trach on [**5-25**] to size 6 cuffless"""

# pattern = re.compile(r"(?i)chief complaint:(.+?)\n\n", re.DOTALL)
pattern = re.compile(r"(?i)chief complaint:(.+?)\n\n[^(\\|\d|\.)]+?:", re.DOTALL)

match = pattern.search(text)
if match:
    chief_complaint = match.group(1).strip()
    print(chief_complaint)
else:
    print("Chief complaint not found.")

81 yo f smoker w/ copd, severe tbm, s/p tracheobronchoplasty [**5-5**]
s/p perc trach [**5-13**]

In [189]:
python tasks/los/los.py --mimic_dir /home/jovyan/work/prj_ppn_roberts_grp/mimic-iii/mimic-iii-clinical-database-1.4 --save_dir /home/jovyan/work/prj_ppn_roberts_grp/mimic-iii-outcome-data --admission_only True